---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account."
bodyClass: bg-white
---

<x-main>
  <div class="bg-white sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full">
          <!-- <div class="my-12 sm:my-8 text-center">
            <a href="https://maizzle.com">
              <img src="images/maizzle.png" width="70" alt="Maizzle" />
            </a>
          </div> -->

          <table class="w-full">
            <tr role="separator">
              <td class="bg-black text-center h-12">
                <img src="images/logo.svg" class="" width="47" />
              </td>
            </tr>
            <tr>
              <td
                class="py-8 px-10 sm:px-6 border-solid border-[#CFCFCF] border text-base text-slate-700 bg-white rounded shadow-sm"
              >
                <h1
                  class="m-0 mb-4 text-xl sm:leading-8 text-black font-semibold"
                >
                  Verify your email address
                </h1>

                <p class="mb-4 leading-6">
                  Please click on the button below to verify your email address.
                  This is required to confirm ownership of the email address.
                </p>

                <x-button
                  class="text-sm bg-[#3A5BEF] rounded-none mb-2.5"
                  href="https://oss-compass.org/verify/0d656b1bb37fd74aa7215a3fdba0e9f432aa7a966fs"
                >
                  Verify your email address
                </x-button>

                <p class="text-sm">
                  If that doesn't work, try copying and pasting the following
                  URL into your browser:
                  <span class="break-all" href=""
                    >https://oss-compass.org/verify/0d656b1bb37fd74aa7215a3fdba0e9f432aa7a966fs</span
                  >
                </p>
                <p class="text-sm mb-0">
                  This link is valid for 60 minutes only. If it has expired, log
                  in to your
                  <a href="https://oss-compass.org/">account settings</a>to
                  request a new link.
                </p>
              </td>
            </tr>
            <tr>
              <td class="text-center text-slate-600 text-xs px-6">
                <p class="mx-0 my-4">
                  Copyright©2023 OSS Compass. All Rights Reserved.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
